</br></br></br></br></br></br>
<center>
	<style type="text/css">
body {
	background-color:olive;
}
</style>
<table border=5>
	<tr>
		<th>STUD_NAME</th>
		<th>STUD_PERCENTAGE</th></tr>
</tr><td><%=@view.stud_name%></td>
<td><%=@view.stud_percentage%></td></tr>
</table></br></br>
<%=link_to'back',{:action=>'showall'}%>
</center>