</br></br></br></br></br></br>
<center>
	<style type="text/css">
body {
	background-color:olive;
}
</style>
<table border=5>
	<tr>
		<th>DEPT_NAME</th>
		<th>HOD_NAME</th></tr>
</tr><td><%=@view.dept_name%></td>
<td><%=@view.hod_name%></td></tr>
</table></br></br>
<%=link_to'back',{:action=>'showall'}%>
</center>