</br></br></br></br></br></br>
<center>
	<style type="text/css">
body {
	background-color:olive;
}
</style>
<h1>STUDENT REGISTRATION NO</h1>
<table border=5>
	<tr>
		<th>REGNO</th>
		<th>STUD_ID</th></tr>
</tr><td><%=@x.regno%></td>
<td><%=@x.stud_id%></td></tr>
</table></br></br>
<%=link_to'back',:controller=>:dept,:action=>:showall%>
</center>